[core]
	autocrlf = true
	excludesfiles = ~/.gitignore_global
[user]
	email = sitter.michael@gmail.com
	name = "Michael Sitter"
[alias]
	st = status -s
	b = branch
	ci = commit
	co = checkout
	df = diff
	dft = difftool
	mgt = mergetool
	lg = log -p
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
[diff]
	tool = kdiff3
	guitool = kdiff3
[push]
	default = tracking
[branch]
	autosetuprebase = remote
[merge]
	tool = kdiff3
[mergetool.kdiff3]
	# TODO 
[difftool.kdiff3]
	# TODO
[color]
	diff = auto
	branch = auto
	status = auto
